.user
  - if user_signed_in?
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    - if @user.user_image.file.nil?
      =image_tag "NoImage.png", size:100
    - else
      =image_tag @user.user_image.url, size:100
  - else
    = link_to "ログイン", user_session_path

.form
  = form_with(model:@image, local: true) do |f|
    .form__mask
      = f.label :imgurl, class: 'form__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :imgurl, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'

.image
  -if @images.present?
    -@images.each do |img|
      - if img.imgtype == "image"
        = image_tag img.imgurl.url, size: "400x400"
      - else
        = video_tag img.imgurl.url, size: "400x400", controls: true, autobuffer: true  
  - else
    画像がありません


