#mainContents
  #recShow
    .title 
      = @recreation.recname
    #bookmarkBtn
      = render partial: 'recreations/bookmark', locals: { product: @recreation }

    .Show-imageBox
      -if @recreation.recimageType == "動画"
        = video_tag @recreation.recimage.url, class: "Show-imageBox--titeImage", controls: true, autobuffer: true
      -else
        = image_tag @recreation.recimage.url, class: "Show-imageBox--titeImage"

    .field
      .show-label
        %p どんなあそび？
        .required
          .required--item
            = icon("fas", "user-circle")
            = @recreation.requirednumber.name
          .required--item
            = icon("fas", "clock")
            = @recreation.rectime.item
      .textareabox
        = @recreation.recComment

    .field#textForm
      .show-label
        %p あそび方説明
      -@recreation.explanations.each_with_index do |item, i|
        .textareabox.showTextareaBox
          -if item.image.present?
            .Show-imageBox
              = image_tag item.image.imgurl.url
              .show-textlabel= "#{i + 1}"
          -else
            .Show-noImageBox
              .show-textlabel
                .text= "#{i + 1}"

          .showTextareaBox--text
            = item.recText

    %br
    .back.recFormBtn{onclick:"backBtnClick()"}戻る

    -if user_signed_in? && @recreation.user_id == current_user.id
      .userEditform
        %p 投稿ユーザー専用
        .userEditform--btns
          =link_to  edit_recreation_path(@recreation.id), class:"recFormBtn submit", id:"editBtn" do
            %p 内容を編集
          =link_to  recreation_path(@recreation.id), class:"recFormBtn submit", id:"DeleteBtn", method: :delete, data: { confirm: 'あそびの削除を実行します。' } do
            %p あそびを削除