#mainContents
  #recShow
    .title 
      = @recreation.recname

    .Show-imageBox
      -if @recreation.recimageType == "動画"
        = video_tag @recreation.recimage.url, class: "Show-imageBox--titeImage", controls: true, autobuffer: true
      -else
        = image_tag @recreation.recimage.url, class: "Show-imageBox--titeImage"

    .like-count
      =icon("fas", "star")
      = @recreation.bookmarks.length

    .field
      .show-label
        %p どんなあそび？
        .required
          .required--item
            = "必要人数 : #{@recreation.requirednumber.name}"
          .required--item
            = "必要時間 : #{@recreation.rectime.item}"
      .textareabox
        = @recreation.recComment

    .field#textForm
      .show-label
        %p あそび方説明
      -@recreation.explanations.each_with_index do |item, i|
        .textareabox.showTextareaBox
          -if item.image.present?
            .Show-imageBox
              = image_tag item.image.imgurl.url
              .show-textlabel= "#{i + 1}"
          -else
            .Show-noImageBox
              .show-textlabel
                .text= "#{i + 1}"

          .showTextareaBox--text
            = item.recText

    %br
    .recFormBtn.submit.likeBtn お気に入りに登録
    = link_to  "戻る", 'javascript:history.back()', class:"back recFormBtn"