#mainContents
  #recCreate
    .title Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field--label
          = f.label :email, "メールアドレス"
        = f.email_field :email, class:"textbox", autofocus: true, autocomplete: "email"
      .field
        .field--label
          = f.label :password, "パスワード"
        = f.password_field :password, class:"textbox", autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, "パスワードを保存する"

      %br
      = f.submit "ログイン", class:"submit recFormBtn"

    = link_to  "戻る", root_path, class:"back recFormBtn"
    = render "devise/shared/links"
