!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title あそびば
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = javascript_include_tag 'application'
  
  %body
    = render 'layouts/flash'
    .hedder
      = link_to root_path,class:"topHedder__logo" do
        =image_tag "asobiba-logo.png", height:"50px"
      .hedder__item
        .hedder__item--icons
          - if user_signed_in?
            = link_to user_path(current_user.id), class:"hedderBtn", id:"myPageBtn" do
              = icon("fas", "user")
            = link_to new_recreation_path, class:"hedderBtn", id:"recCreateBtn" do
              = icon("fas", "lightbulb")
            = link_to destroy_user_session_path, class:"hedderBtn", id:"logOutBtn", method: :delete do
              = icon("fas", "sign-out-alt")
          -else
            = link_to new_user_registration_path, class:"hedderBtn", id:"userNewtBtn" do
              = icon("far", "user-circle")
            = link_to user_session_path, class:"hedderBtn", id:"logInBtn" do
              = icon("fas", "sign-in-alt")

    .animation
      #app
        = yield
        -# %footer-item
  = javascript_pack_tag 'main-control'
  = stylesheet_pack_tag 'main-control'